.section {
    height: 100%;
    background-color: rgba(0,0,0,0.31);
    min-height: rem(650px);
}

.section__title {
    color: $yellow;
    font-family: 'Gagalin';
    font-size: rem(72px);
    font-weight: 300;
    margin: 0;
    white-space: nowrap;

    &_color {
        &_black {
            color:#2f3234;
        }
    }

    @include phones {
        font-size: 50px;
        white-space: normal;
        width: 235px;
    }
    
}