.footer {
    display: flex;
    height: 58px;
    background: #000;

    @include phones{
        flex-direction: column;
        height: rem(115px);
        justify-content: center;
        align-items: center;
    }
}

.left, .right {
    width: 50%;

    @include phones {
        width: 100%;
        text-align: center;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    margin-top: rem(10px);
    margin-left: rem(40px);
    justify-content: center;
    width: 100%;

    @include phones{
        margin: 0;
        white-space: nowrap;
        height: 100%;
    }
}

.contact__addr {
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 300;
    color: #fff;
    min-width: 290px;
}

.contact__tel {
    padding-top: 3px;
    font-family: 'Ubuntu';
    font-size: rem(14px);
    font-weight: 900;    
    color: #e45028
}

.right {
    color: #fff;
}

.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: rem(40px);    
    height: 100%;

    @include phones {
        margin: 5px 0;
        justify-content: center;

    }
}

.social__item {
    padding-right: rem(10px);
}

.social__link--icon {
    height: 20px;
    width: 20px;
    opacity: .3;

    &:hover {
        opacity: 1;
    }
}