.consist__menu {
    position: absolute;
    left: 90px;
    display: none;
}
.consist__menu-row {
    height: 60px;
}

.consist__menu-pic {
    padding-left: 20px;
}

.consist__menu-img {
    height: 45px;
    width: 50px;    
}

.consist__menu-table {
    vertical-align: middle;    
    width: 270px;
    height: 330px;
    background: #fff;
    border-radius: 1%;
    opacity: .9;
}